html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

p, a {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 200;
	color: rgb(80, 80, 80);
	line-height: 1.4;
}

.center-contents {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.img-container { padding: 0 40px 0 40px; }
.img-container > img { width: 100%; }

.work { position: relative; overflow: hidden; height: 370px; background-color: #f4f4f4; }
.work-container.row { margin-top: 20px; margin-bottom: 20px; }
@media only screen and (min-width: 33.75em) {  /* 540px */
  .work:hover .overlay { visibility: visible; opacity: 1; }
}

  .overlay {
	opacity: 0;
	transition: opacity 0.2s linear;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.6);
	padding:0;
	margin:0;
	cursor: pointer;
}

	.overlay > img { height: 50px; }
	.overlay-desc { width: 60%; text-align: center; }
	.overlay-desc > a { color: white; font-size: 20px; }

	.overlay-desc > p {
		color: white;
		font-weight: 700;
		font-size: 20px;
		text-transform: uppercase;
		letter-spacing: 2px;
	}

.section-header {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 25px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

.header-divider {
	height: 2px;
	background-color: rgb(170,170,170);
	width: 60px;
	margin: 15px 0 30px;
}

.subheader {
	text-transform: lowercase;
	font-weight: 700;
	font-size: 22px;
	margin-bottom: 10px;
}
.subheader-desc { font-size: 20px; }

.social-media-icon { height: 30px; padding-right: 10px; }

.shadow {
	-o-box-shadow:      0px 0px 10px #aaa;
	-icab-box-shadow:   0px 0px 10px #aaa;
	-khtml-box-shadow:  0px 0px 10px #aaa;
	-moz-box-shadow:    0px 0px 10px #aaa;
	-webkit-box-shadow: 0px 0px 10px #aaa;
	box-shadow:         0px 0px 10px #aaa;
}

#navigation {
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	display: flex;
	align-items: center;
	padding: 0 10px 0 10px;
	transition: background-color 1s linear;
	background-color: white;
	border-bottom: thin rgba(80, 80, 80, 0.1) solid;
}

	#navlogo {
		height: 40px;
		margin-top:5px;
	}

	nav {
		margin-left: auto;
	}

	nav a {
		text-decoration: none;
		text-transform: uppercase;
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		letter-spacing: 0.075em;
		font-size: 0.9em;
		padding-right: 30px;
		transition: color 1s ease;
		color: #6e6e6e;
	}

	@media only screen and (max-width: 33.75em) {  /* 540px */

		nav {
			padding-right:25px;
		}

	  	nav a {
	  		font-size: 0.6em;
	  		padding: 0 0 0 10px;
	  		color: #6e6e6e;
	  	}
	}


	nav a:hover {
		color: #c8c8c8;
	}

#landing-bg {
	width: 100%;
	min-height: 100vh;
	background: url(../images/home/background_bw.jpg) center center fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow-y: auto;
	position: relative;
}

	@media only screen and (max-width: 33.75em) {  /* 540px */
		#landing-bg {
			background-attachment: scroll;
		}
	}
	
	#landing-container {
		height: 85vh;
		position: relative;
	}

	#name {
		font-family: 'Lato', sans-serif;
		font-weight: 900;
		font-size: 22px;
		letter-spacing: 5px;
		text-transform: uppercase;
		color: #c8c8c8;
		padding-bottom: 70px;
	}

	#logo { 
		max-height: 70px; 
		margin-bottom: 15px; 
		margin-top: 25px; 
		animation: zoom 2s infinite;
  		animation-play-state: paused; 
	}

	#landing-desc { 
		text-align: center;
		position: absolute;
		bottom: 0;
		margin: 0 auto;
		width: 165px;
	}

		#landing-desc > a {
			font-family: 'Lato', sans-serif;
			font-size: 15px;
			text-transform: uppercase;
			letter-spacing: 1.5px;
			font-weight: 300;
			color: #c8c8c8;
		}

	#downarrow {
		width: 40px;
		padding-top: 20px;
		display: inline-block;
		-webkit-animation-delay: 2s;
		-webkit-animation-name: Floatingx;
	    -webkit-animation-duration: 1.5s;
	    -webkit-animation-iteration-count: 4;
	    -webkit-animation-timing-function: ease-in-out;
	    -moz-animation-delay: 2s;
	    -moz-animation-name: Floating;
	    -moz-animation-duration: 1.5s;
	    -moz-animation-iteration-count: 4;
	    -moz-animation-timing-function: ease-in-out;
	}

	@-webkit-keyframes Floatingx{
	    from {-webkit-transform:translate(0, 0px);}
	    65% {-webkit-transform:translate(0, 8px);}
	    to {-webkit-transform: translate(0, -0px);    }    
	}
	    
	@-moz-keyframes Floating{
	    from {-moz-transform:translate(0, 0px);}
	    65% {-moz-transform:translate(0, 8px);}
	    to {-moz-transform: translate(0, -0px);}    
	}

#home-container {
	padding-top: 100px;
}

#swdb-imac { max-width: 350px; }

#others-container { height: 370px; position: relative; }
#others-container > div { height: 100%; }

#spetcial > div { max-width: 330px; }
#spetcial-logo { width: 30%; margin-top: 270px; }
#spetcial-iphone { width: 100%; }

#theta-tau > .img-container { max-width: 250px; }

#haas > .img-container { max-width: 200px; }

/*-------------- footer --------------*/

#footer { padding: 60px 0 40px 0; }
#contact { margin-bottom: 40px; }
#connect { margin-top: 20px; }

#credits {
	margin-top: 30px;
	text-align: center;
	width: 100%;
	height:30px;
	display: inline-block;
}
#credits > a { color: rgba(110,110,110,0.5); font-weight: 300; font-size: 16px; }

/*--------------- work ---------------*/

.works-desc-page { padding-top: 60px; }

.section-container { margin: 60px 0 60px 0; }

.thumb {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	background-color: rgba(0,0,0,0.1);
	overflow: hidden;
	position: relative;
}
@media only screen and (min-width: 33.75em) {  /* 540px */
  .thumb:hover .overlay { visibility: visible; opacity: 1; }
}
.thumb > img { width: 80%; }
#thumb-spetcial { margin-top: 10%; }
#thumb-thetatau { margin-top: 23% }
#thumb-haas { margin-top: 15%; width: 70%;}
#thumb-swdb { margin-top: 20%; }

.full-width { width: 100%; }

/*--------------- SWDB ---------------*/

#swdb-logo { height: 100px; }
#imac-container { background-color: #AEC2D1; min-height: 500px; }
#imac-container > img { height: 300px; }

#screens { background-color: #EBEBEB; }
#screens img { width: 100%; }
#screens-container { padding: 50px; max-width: 700px;}
#screen-2 { margin-top: 50px; }

/*------------- Spetcial -------------*/

.grey-background { background-color: #EBEBEB; }
#iphone-container { width: 80%; padding: 50px 0 50px 0;}

/*------------ Theta Tau ------------*/

#thetatau-logo { width: 300px; }
#flyer { margin-bottom: 60px;}
#posterboard-container { max-width: 720px; }
#fall16-apparel-container { max-width: 700px; }


/*--------------- HAAS ---------------*/

#haas-logo { height: 70px; }
#haas-logos-container { width: 80%; }