<div id="footer" class="grid-12">
	<div id="social-media">
		<a href="https://www.linkedin.com/in/hannalee95"><div id="linkedin" class="social-media-icon">
			{% include linkedin.svg %}
		</div></a>
		<a href="https://github.com/leehanna"><div id="github" class="social-media-icon">
			{% include github.svg %}
		</div></a>
		<a href="https://www.behance.net/leehannaa"><div id="behance" class="social-media-icon">
			{% include behance.svg %}
		</div></a>
	</div>
	<p id="email">hannallee2@gmail.com</p>

	<p id="copyright">Designed and coded by Hanna Lee © 2017</p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src={{ "/assets/js/main.js" | relative_url }}></script>