<div id="footer" class="grid-12">
	<div class="btn">
		<p class="header-fontstyle"><span class="lnr lnr-envelope"></span>Ping Me</p>
	</div>
	<div id="social-media">
		<a href="https://www.linkedin.com/in/hannalee95"><div id="linkedin" class="social-media-icon"></div></a>
		<a href="https://www.behance.net/leehannaa"><div id="behance" class="social-media-icon"></div></a>
		<a href="https://github.com/leehanna"><div id="github" class="social-media-icon"></div></a>
	</div>
	<p id="copyright">2017 © Hanna Lee - All rights reserved</p>
</div>