<head>
	<title>{{ page.title }}</title>
	<meta charset="utf-8">
	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<meta http-equiv="cleartype" content="on">

	<!-- Responsive and mobile friendly stuff -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- <meta property="og:image" content="images/home/thumb.jpg"> -->
	<link rel="icon" href={{ "favicon.ico" | relative_url }} type="image/x-icon">

	<!-- stylesheets -->
	<link rel="stylesheet" href={{ "assets/main.css" | relative_url }}>
	<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
	<!-- <link rel="stylesheet" href="css/animate_new.css"> -->

	<!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements and feature detects -->
	<script src={{ "assets/js/modernizr-2.5.3-min.js" | relative_url }}></script>
	<!-- <script type="text/javascript" src="js/spamspan.js"></script> -->

	<!-- fonts -->
	<link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700i,800,800|Open+Sans:300,600" rel="stylesheet">


</head>