<div id="navigation">
	<div id="logo">
		<a href={{ site.baseurl }}>
			<div id="hanna-banana">
				{% include hannabanana_stroke.svg %}
			</div>
			<p class="header-fontstyle">Hanna Lee</p>
		</a>
	</div>
	<nav role="navigation">
		<div id="menu-toggle">
			<input type="checkbox" />

			<!--hamburger-->
			<span></span>
    		<span></span>
    		<span></span>
    		<ul id="menu">
				<a class="header-fontstyle" href={{ site.baseurl }}><li>Home</li></a>
				<a class="header-fontstyle" href={{ "profile" | relative_url }}><li>Profile</li></a>
				<a class="header-fontstyle" href="#"><li>Contact</li></a>
			</ul>
		</div>
	</nav>
</div>