// -------------- navigation --------------


.hanna-banana {
  width: 80px;
  height: auto;
    padding-left: 30px;
    padding-right: 10px;
    display: inline-block;
  path {
    stroke-dasharray: 1400;
    stroke-dashoffset: 1400;
    animation: dash 3s forwards;
  }
  .cls-1, .cls-2 {
    fill-opacity: 0;
  }
}

#logo:hover, #loader {
  path, .cls-1, .cls-2 {
    animation: draw 3s infinite;
  }
}

@keyframes draw {
  0% {
    fill-opacity: 0;
  }
  30% {
    fill-opacity: 0;
  }
  90% {
    stroke-dashoffset:0;
    fill-opacity: 1;
  }
  100% {
    stroke-dashoffset:0;
    fill-opacity: 1;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-in {
  0% {
    fill-opacity: 0;
  }
  60% {
    fill-opacity: 0;
  }
  80% {
    fill-opacity: 1;
  }
  100% {
    fill-opacity: 1;
  }
}

#logo {
  a {
    text-decoration: none;
  }
  a:hover p {
    color: $dark-gray;
  }
  p {
    font-weight: 700 !important;
    display: inline;
    line-height: 40px;
    vertical-align: top;
    font-size: 19px;
    letter-spacing: 1.5px;
    color: $darker-gray;
    @include compatible-transition(color, 0.5s, ease);
  }
}

#navigation {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 100;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.95) 0%, rgba(255,255,255,0.9) 40%, rgba(255,255,255,0.9) 60%, rgba(255,255,255,0.95) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.95)), color-stop(40%,rgba(255,255,255,0.9)), color-stop(60%,rgba(255,255,255,0.9)), color-stop(100%,rgba(255,255,255,0.95))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.95) 0%, rgba(255,255,255,0.9) 40%, rgba(255,255,255,0.9) 60%,rgba(255,255,255,0.95) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0.95) 0%, rgba(255,255,255,0.9) 40%, rgba(255,255,255,0.9) 60%,rgba(255,255,255,0.95) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.95) 0%, rgba(255,255,255,0.9) 40%, rgba(255,255,255,0.9) 60%,rgba(255,255,255,0.95) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.95) 0%, rgba(255,255,255,0.9) 40%, rgba(255,255,255,0.9) 60%,rgba(255,255,255,0.95) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    
    // works on safari only currently
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    @include compatible-transition(height, 0.3s, linear);

    #logo, nav {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin-top: 3px;
    }
  }

#navigation.shrink {
  height: 70px;
}

@media only screen and (min-width: 600px) {
  #navigation{
    nav {
       right: 30px;
       a {
        font-decoration: none;
       }
       ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
       }
       li {
         font-size: 12px;
         font-weight: 500;
         line-height: 40px;
         position: relative;
         display: inline-block;
         text-decoration: none;
         margin: 0 15px;
         float: left;
       }
       li::after {
          content: '';
          box-sizing: inherit;
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          border-bottom: 3px solid $highlight-color;
          transform-origin: center;
          transform: scale3d(0,1,1);
          @include compatible-transition(transform, 0.2s, $cubic-bezier);

       }
       a:hover li {
          color: $highlight-color;
       }
       a:hover li::after {
          transform: scale3d(1,1,1);
       }
      }
  }

  #menu-toggle input {
    display: none;
  }
}

@media only screen and (max-width: 600px) {

  nav {
    right: 30px;
    // margin-top: 11px;
  }

  #menu-toggle input {
  	 display: block;
  	 width: 40px;
  	 height: 40px;
    	position: absolute;

    	cursor: pointer;
    
    	opacity: 0; /* hide this */
    	z-index: 2; /* and place it over the hamburger */
    
    	-webkit-touch-callout: none;
  }

  #menu-toggle span
  {
    	display: block;
    	width: 20px;
    	height: 3px;
    	margin-bottom: 4px;
    	position: relative;
    
    	background: $dark-gray;
    	border-radius: 3px;
    
    	z-index: 1;
    
    	transform-origin: 4px 0px;

      transition: transform 0.5s $cubic-bezier,
      background 0.5s $cubic-bezier,
      opacity 0.55s ease,
      background 0.5s ease;
      // @include compatible-transition(transform, 0.5s, ease);
      // @include compatible-transition(background, 0.5s, $cubic-bezier);
      // @include compatible-transition(opacity, 0.55s, ease);
      // @include compatible-transition(background, 0.5s, ease);
  }

  #menu-toggle span:hover {
    background: $highlight-color;
  }

  #menu-toggle span:first-child
  {
    	transform-origin: 0% 0%;
  }

  #menu-toggle span:nth-last-child(2)
  {
    	transform-origin: 0% 100%;
  }

  /* 
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  #menu-toggle input:checked ~ span
  {
      opacity: 1;
      transform: rotate(45deg) translate(1px, 0px);
      background: $dark-gray;
  }

  /*
   * But let's hide the middle one.
   */
  #menu-toggle input:checked ~ span:nth-last-child(3)
  {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
  }

  /*
   * Ohyeah and the last one should go the other direction
   */
  #menu-toggle input:checked ~ span:nth-last-child(2)
  {
      transform: rotate(-45deg) translate(3px, -1px);
  }

  #menu
  {
    position: absolute;
    margin-top: -45px;
    right: -35px;
    padding: 40px 0 40px 0;
    text-align: center;
    width: 0px;
    overflow: hidden;

    background: white;
    @include lightshadow;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    @include compatible-transition(width, 0.5s, $cubic-bezier);

    a {
      text-decoration: none;
      font-size: 12px;
      font-weight: 500;
      line-height: 40px;
      text-decoration: none;
    }
    a:hover li {
      color: $highlight-color;
    }
  }

  #menu li
  {
    padding: 10px 0;
    font-size: 18px;
    @include compatible-transition(color, 0.5s, ease);
    white-space: nowrap;
  }

  /*
   * And let's slide it in from the left
   */
  #menu-toggle input:checked ~ ul
  {
    width: 250px;
    // transform: translate(-100%, 0);
  }
}