
// ---------- works article page -----------

#works-container {
	width: 85%;
	margin: 0 auto;
}

#works-header {
	padding-top: 20px;
	padding-bottom: 40px;
	text-align: center;
	img {
		max-height: 250px;
		height: auto;
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
}

#works-overview {
	padding: 35px 35px;
	background-color: $light-gray;
	position: relative;
	@include lightshadow;
}

.binderclip {
	height: 60px;
	position: absolute;
	top: -40px;
}

#binderclip-left {
	left: 40px;
}

#binderclip-right {
	right: 40px;
}

.overview-item {
	@include flex;
	-webkit-flex-direction: row; 
  	flex-direction: row;
  	padding: 15px 0;

  	ul {
  		padding-left: 20px;
  	}

	p, li {
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
	}
	h4 {
		padding: 0;
		margin: 0 0 10px 0;
		color: $highlight-color;
		font-weight: 800;
	}
}

#time-spent { margin-top: 5px;}
#time-spent > span { margin-right: 5px; }

.work-section {
	padding: 10px 0;

	h2 {
		font-weight: 800;
		font-size: 20px;
		display: block;
	}
	p, li {
		font-family: $font-secondary;
		font-weight: 400;
	}
	h2, h4 {
		color: $dark-gray;
	}
}

.links {
	text-align: center;
	padding-top: 20px;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: inline-block;
		li {
		}

	}
}

@media only screen and (min-width: 650px) {
	.links {
		li {
			float:left;
			padding: 0 10px;
			display: inline-block;

		}
		li+li {
			border-left: 1px solid $dark-gray;
		}
	}
}

#brief-links {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		padding-right: 15px;
	}
	span {
		font-size: 13px;
		margin-right: 5px;
	}
}

.img-container {
	width: 100%;
	margin: 20px 0;
	text-align: center;
	img {
		width: 100%;
		display: block;
		margin: 0 auto;
	}
	.img-3quarters-width {
		max-width: 650px;
		width: 100%;
	}
	.img-half-width-full {
		max-width: 400px;
		width: 100%;
	}
	.img-half-width {
		width: 50%;
	}
	.img-caption {
		font-style: italic;
		max-width: 450px;
		width: 100%;
		margin: 20px auto;
	}
}

.centered {
	align-content: center;
}

#more-works {
	text-align: center;
	margin: 50px 0;
	h3 {
		color: $highlight-color;
		margin: 0;
	}
}

#more-works-container {
	display: block;
}

.img-mobile-screen {
	max-width: 350px;
	width: 100%;
}

#nyonyum-full, #legoflyer-full {
	background-color: $light-gray;

}

#invision {
	position: relative;
	height: 930px;
	width: 100%;
	margin: 15px 0;
	iframe {
		position: absolute;
		width: 438px;
		height: 930px;
	}
}