/*  MAKE LAYOUT RESPONSIVE at 480px FOR IPHONE LANDSCAPE ============================================ */

	#desccontainer {
		text-align: center;
		padding-bottom: 30px;
	}

	#designheadercontainer {
		text-align: center;
	}

	#navlogo {
		display: none;
	}

	#navigation {
		padding-top: 10px;
	}

	#navigation nav {
		padding: 0;
		margin: 0 auto;
		height: 30px;
	}

	#footercontainer #name a {
		font-size: 0.6em;
	}

	#dialogg {
		display:none;
	}