/*  MAKE LAYOUT RESPONSIVE at 768px FOR IPAD PORTRAIT ================================================================ */

		#designtxtcontainer {
			width: 100%;
		}

		#desccontainer {
			width: 400px;
			margin: 0 auto;
			text-align: center;
			padding-bottom: 30px;
		}

		#designheadercontainer {
			width: 100%;
			text-align: center;
		}

		.span_1_of_6 {
			width: 23.8%;
			margin-left: 0;
		}

		.span_4_of_6 {
			width: 100%;
		}

		#colcontainer {
			padding: 0;
			width: 100%;
			margin: 0 auto;
		}

		#about #headercontainer {
			padding-bottom: 30px;
		}

		#about #colcontainer {
			width: 70%;
		}

		#about .span_1_of_3 {
			width: 100%;
		}