html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.grid, .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
  margin: 0;
  clear: none;
  float: left; }

.grid-1 {
  width: 8.3333333333%; }

.grid-2 {
  width: 16.6666666667%; }

.grid-3 {
  width: 25%; }

.grid-4 {
  width: 33.3333333333%; }

.grid-5 {
  width: 41.6666666667%; }

.grid-6 {
  width: 50%; }

.grid-7 {
  width: 58.3333333333%; }

.grid-8 {
  width: 66.6666666667%; }

.grid-9 {
  width: 75%; }

.grid-10 {
  width: 83.3333333333%; }

.grid-11 {
  width: 91.6666666667%; }

.grid-12 {
  width: 100%; }

.offset-0 {
  margin-left: 0; }

.offset-1 {
  margin-left: 8.3333333333%; }

.offset-2 {
  margin-left: 16.6666666667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.3333333333%; }

.offset-5 {
  margin-left: 41.6666666667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.3333333333%; }

.offset-8 {
  margin-left: 66.6666666667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.3333333333%; }

.offset-11 {
  margin-left: 91.6666666667%; }

.offset-12 {
  margin-left: 100%; }

.pad-1 {
  padding: 4px; }

.pad-1-left {
  padding-left: 4px; }

.pad-1-right {
  padding-right: 4px; }

.pad-1-top {
  padding-top: 4px; }

.pad-1-bottom {
  padding-bottom: 4px; }

.pad-1-sides {
  padding-left: 4px;
  padding-right: 4px; }

.pad-1-vert {
  padding-top: 4px;
  padding-bottom: 4px; }

.marg-1 {
  margin: 4px; }

.marg-1-left {
  margin-left: 4px; }

.marg-1-right {
  margin-right: 4px; }

.marg-1-top {
  margin-top: 4px; }

.marg-1-bottom {
  margin-bottom: 4px; }

.marg-1-sides {
  margin-left: 4px;
  margin-right: 4px; }

.marg-1-vert {
  margin-top: 4px;
  margin-bottom: 4px; }

.pad-2 {
  padding: 8px; }

.pad-2-left {
  padding-left: 8px; }

.pad-2-right {
  padding-right: 8px; }

.pad-2-top {
  padding-top: 8px; }

.pad-2-bottom {
  padding-bottom: 8px; }

.pad-2-sides {
  padding-left: 8px;
  padding-right: 8px; }

.pad-2-vert {
  padding-top: 8px;
  padding-bottom: 8px; }

.marg-2 {
  margin: 8px; }

.marg-2-left {
  margin-left: 8px; }

.marg-2-right {
  margin-right: 8px; }

.marg-2-top {
  margin-top: 8px; }

.marg-2-bottom {
  margin-bottom: 8px; }

.marg-2-sides {
  margin-left: 8px;
  margin-right: 8px; }

.marg-2-vert {
  margin-top: 8px;
  margin-bottom: 8px; }

.pad-3 {
  padding: 16px; }

.pad-3-left {
  padding-left: 16px; }

.pad-3-right {
  padding-right: 16px; }

.pad-3-top {
  padding-top: 16px; }

.pad-3-bottom {
  padding-bottom: 16px; }

.pad-3-sides {
  padding-left: 16px;
  padding-right: 16px; }

.pad-3-vert {
  padding-top: 16px;
  padding-bottom: 16px; }

.marg-3 {
  margin: 16px; }

.marg-3-left {
  margin-left: 16px; }

.marg-3-right {
  margin-right: 16px; }

.marg-3-top {
  margin-top: 16px; }

.marg-3-bottom {
  margin-bottom: 16px; }

.marg-3-sides {
  margin-left: 16px;
  margin-right: 16px; }

.marg-3-vert {
  margin-top: 16px;
  margin-bottom: 16px; }

.pad-0 {
  padding: 0; }

.pad-0-left {
  padding-left: 0; }

.pad-0-right {
  padding-right: 0; }

.pad-0-top {
  padding-top: 0; }

.pad-0-bottom {
  padding-bottom: 0; }

.pad-0-sides {
  padding-left: 0;
  padding-right: 0; }

.pad-0-vert {
  padding-top: 0;
  padding-bottom: 0; }

.marg-0 {
  margin: 0; }

.marg-0-left {
  margin-left: 0; }

.marg-0-right {
  margin-right: 0; }

.marg-0-top {
  margin-top: 0; }

.marg-0-bottom {
  margin-bottom: 0; }

.marg-0-sides {
  margin-left: 0;
  margin-right: 0; }

.marg-0-vert {
  margin-top: 0;
  margin-bottom: 0; }

@media (max-width: 480px) {
  .s-grid, .s-grid-1, .s-grid-2, .s-grid-3, .s-grid-4, .s-grid-5, .s-grid-6, .s-grid-7, .s-grid-8, .s-grid-9, .s-grid-10, .s-grid-11, .s-grid-12 {
    margin: 0;
    clear: none;
    float: left; }

  .s-grid-1 {
    width: 8.3333333333%; }

  .s-grid-2 {
    width: 16.6666666667%; }

  .s-grid-3 {
    width: 25%; }

  .s-grid-4 {
    width: 33.3333333333%; }

  .s-grid-5 {
    width: 41.6666666667%; }

  .s-grid-6 {
    width: 50%; }

  .s-grid-7 {
    width: 58.3333333333%; }

  .s-grid-8 {
    width: 66.6666666667%; }

  .s-grid-9 {
    width: 75%; }

  .s-grid-10 {
    width: 83.3333333333%; }

  .s-grid-11 {
    width: 91.6666666667%; }

  .s-grid-12 {
    width: 100%; }

  .s-offset-0 {
    margin-left: 0; }

  .s-offset-1 {
    margin-left: 8.3333333333%; }

  .s-offset-2 {
    margin-left: 16.6666666667%; }

  .s-offset-3 {
    margin-left: 25%; }

  .s-offset-4 {
    margin-left: 33.3333333333%; }

  .s-offset-5 {
    margin-left: 41.6666666667%; }

  .s-offset-6 {
    margin-left: 50%; }

  .s-offset-7 {
    margin-left: 58.3333333333%; }

  .s-offset-8 {
    margin-left: 66.6666666667%; }

  .s-offset-9 {
    margin-left: 75%; }

  .s-offset-10 {
    margin-left: 83.3333333333%; }

  .s-offset-11 {
    margin-left: 91.6666666667%; }

  .s-offset-12 {
    margin-left: 100%; }

  .s-pad-1 {
    padding: 4px; }

  .s-pad-1-left {
    padding-left: 4px; }

  .s-pad-1-right {
    padding-right: 4px; }

  .s-pad-1-top {
    padding-top: 4px; }

  .s-pad-1-bottom {
    padding-bottom: 4px; }

  .s-pad-1-sides {
    padding-left: 4px;
    padding-right: 4px; }

  .s-pad-1-vert {
    padding-top: 4px;
    padding-bottom: 4px; }

  .s-marg-1 {
    margin: 4px; }

  .s-marg-1-left {
    margin-left: 4px; }

  .s-marg-1-right {
    margin-right: 4px; }

  .s-marg-1-top {
    margin-top: 4px; }

  .s-marg-1-bottom {
    margin-bottom: 4px; }

  .s-marg-1-sides {
    margin-left: 4px;
    margin-right: 4px; }

  .s-marg-1-vert {
    margin-top: 4px;
    margin-bottom: 4px; }

  .s-pad-2 {
    padding: 8px; }

  .s-pad-2-left {
    padding-left: 8px; }

  .s-pad-2-right {
    padding-right: 8px; }

  .s-pad-2-top {
    padding-top: 8px; }

  .s-pad-2-bottom {
    padding-bottom: 8px; }

  .s-pad-2-sides {
    padding-left: 8px;
    padding-right: 8px; }

  .s-pad-2-vert {
    padding-top: 8px;
    padding-bottom: 8px; }

  .s-marg-2 {
    margin: 8px; }

  .s-marg-2-left {
    margin-left: 8px; }

  .s-marg-2-right {
    margin-right: 8px; }

  .s-marg-2-top {
    margin-top: 8px; }

  .s-marg-2-bottom {
    margin-bottom: 8px; }

  .s-marg-2-sides {
    margin-left: 8px;
    margin-right: 8px; }

  .s-marg-2-vert {
    margin-top: 8px;
    margin-bottom: 8px; }

  .s-pad-3 {
    padding: 16px; }

  .s-pad-3-left {
    padding-left: 16px; }

  .s-pad-3-right {
    padding-right: 16px; }

  .s-pad-3-top {
    padding-top: 16px; }

  .s-pad-3-bottom {
    padding-bottom: 16px; }

  .s-pad-3-sides {
    padding-left: 16px;
    padding-right: 16px; }

  .s-pad-3-vert {
    padding-top: 16px;
    padding-bottom: 16px; }

  .s-marg-3 {
    margin: 16px; }

  .s-marg-3-left {
    margin-left: 16px; }

  .s-marg-3-right {
    margin-right: 16px; }

  .s-marg-3-top {
    margin-top: 16px; }

  .s-marg-3-bottom {
    margin-bottom: 16px; }

  .s-marg-3-sides {
    margin-left: 16px;
    margin-right: 16px; }

  .s-marg-3-vert {
    margin-top: 16px;
    margin-bottom: 16px; }

  .s-pad-0 {
    padding: 0; }

  .s-pad-0-left {
    padding-left: 0; }

  .s-pad-0-right {
    padding-right: 0; }

  .s-pad-0-top {
    padding-top: 0; }

  .s-pad-0-bottom {
    padding-bottom: 0; }

  .s-pad-0-sides {
    padding-left: 0;
    padding-right: 0; }

  .s-pad-0-vert {
    padding-top: 0;
    padding-bottom: 0; }

  .s-marg-0 {
    margin: 0; }

  .s-marg-0-left {
    margin-left: 0; }

  .s-marg-0-right {
    margin-right: 0; }

  .s-marg-0-top {
    margin-top: 0; }

  .s-marg-0-bottom {
    margin-bottom: 0; }

  .s-marg-0-sides {
    margin-left: 0;
    margin-right: 0; }

  .s-marg-0-vert {
    margin-top: 0;
    margin-bottom: 0; } }
@media (min-width: 481px) and (max-width: 800px) {
  .m-grid, .m-grid-1, .m-grid-2, .m-grid-3, .m-grid-4, .m-grid-5, .m-grid-6, .m-grid-7, .m-grid-8, .m-grid-9, .m-grid-10, .m-grid-11, .m-grid-12 {
    margin: 0;
    clear: none;
    float: left; }

  .m-grid-1 {
    width: 8.3333333333%; }

  .m-grid-2 {
    width: 16.6666666667%; }

  .m-grid-3 {
    width: 25%; }

  .m-grid-4 {
    width: 33.3333333333%; }

  .m-grid-5 {
    width: 41.6666666667%; }

  .m-grid-6 {
    width: 50%; }

  .m-grid-7 {
    width: 58.3333333333%; }

  .m-grid-8 {
    width: 66.6666666667%; }

  .m-grid-9 {
    width: 75%; }

  .m-grid-10 {
    width: 83.3333333333%; }

  .m-grid-11 {
    width: 91.6666666667%; }

  .m-grid-12 {
    width: 100%; }

  .m-offset-0 {
    margin-left: 0; }

  .m-offset-1 {
    margin-left: 8.3333333333%; }

  .m-offset-2 {
    margin-left: 16.6666666667%; }

  .m-offset-3 {
    margin-left: 25%; }

  .m-offset-4 {
    margin-left: 33.3333333333%; }

  .m-offset-5 {
    margin-left: 41.6666666667%; }

  .m-offset-6 {
    margin-left: 50%; }

  .m-offset-7 {
    margin-left: 58.3333333333%; }

  .m-offset-8 {
    margin-left: 66.6666666667%; }

  .m-offset-9 {
    margin-left: 75%; }

  .m-offset-10 {
    margin-left: 83.3333333333%; }

  .m-offset-11 {
    margin-left: 91.6666666667%; }

  .m-offset-12 {
    margin-left: 100%; }

  .m-pad-1 {
    padding: 4px; }

  .m-pad-1-left {
    padding-left: 4px; }

  .m-pad-1-right {
    padding-right: 4px; }

  .m-pad-1-top {
    padding-top: 4px; }

  .m-pad-1-bottom {
    padding-bottom: 4px; }

  .m-pad-1-sides {
    padding-left: 4px;
    padding-right: 4px; }

  .m-pad-1-vert {
    padding-top: 4px;
    padding-bottom: 4px; }

  .m-marg-1 {
    margin: 4px; }

  .m-marg-1-left {
    margin-left: 4px; }

  .m-marg-1-right {
    margin-right: 4px; }

  .m-marg-1-top {
    margin-top: 4px; }

  .m-marg-1-bottom {
    margin-bottom: 4px; }

  .m-marg-1-sides {
    margin-left: 4px;
    margin-right: 4px; }

  .m-marg-1-vert {
    margin-top: 4px;
    margin-bottom: 4px; }

  .m-pad-2 {
    padding: 8px; }

  .m-pad-2-left {
    padding-left: 8px; }

  .m-pad-2-right {
    padding-right: 8px; }

  .m-pad-2-top {
    padding-top: 8px; }

  .m-pad-2-bottom {
    padding-bottom: 8px; }

  .m-pad-2-sides {
    padding-left: 8px;
    padding-right: 8px; }

  .m-pad-2-vert {
    padding-top: 8px;
    padding-bottom: 8px; }

  .m-marg-2 {
    margin: 8px; }

  .m-marg-2-left {
    margin-left: 8px; }

  .m-marg-2-right {
    margin-right: 8px; }

  .m-marg-2-top {
    margin-top: 8px; }

  .m-marg-2-bottom {
    margin-bottom: 8px; }

  .m-marg-2-sides {
    margin-left: 8px;
    margin-right: 8px; }

  .m-marg-2-vert {
    margin-top: 8px;
    margin-bottom: 8px; }

  .m-pad-3 {
    padding: 16px; }

  .m-pad-3-left {
    padding-left: 16px; }

  .m-pad-3-right {
    padding-right: 16px; }

  .m-pad-3-top {
    padding-top: 16px; }

  .m-pad-3-bottom {
    padding-bottom: 16px; }

  .m-pad-3-sides {
    padding-left: 16px;
    padding-right: 16px; }

  .m-pad-3-vert {
    padding-top: 16px;
    padding-bottom: 16px; }

  .m-marg-3 {
    margin: 16px; }

  .m-marg-3-left {
    margin-left: 16px; }

  .m-marg-3-right {
    margin-right: 16px; }

  .m-marg-3-top {
    margin-top: 16px; }

  .m-marg-3-bottom {
    margin-bottom: 16px; }

  .m-marg-3-sides {
    margin-left: 16px;
    margin-right: 16px; }

  .m-marg-3-vert {
    margin-top: 16px;
    margin-bottom: 16px; }

  .m-pad-0 {
    padding: 0; }

  .m-pad-0-left {
    padding-left: 0; }

  .m-pad-0-right {
    padding-right: 0; }

  .m-pad-0-top {
    padding-top: 0; }

  .m-pad-0-bottom {
    padding-bottom: 0; }

  .m-pad-0-sides {
    padding-left: 0;
    padding-right: 0; }

  .m-pad-0-vert {
    padding-top: 0;
    padding-bottom: 0; }

  .m-marg-0 {
    margin: 0; }

  .m-marg-0-left {
    margin-left: 0; }

  .m-marg-0-right {
    margin-right: 0; }

  .m-marg-0-top {
    margin-top: 0; }

  .m-marg-0-bottom {
    margin-bottom: 0; }

  .m-marg-0-sides {
    margin-left: 0;
    margin-right: 0; }

  .m-marg-0-vert {
    margin-top: 0;
    margin-bottom: 0; } }
@media (min-width: 801px) {
  .l-grid, .l-grid-1, .l-grid-2, .l-grid-3, .l-grid-4, .l-grid-5, .l-grid-6, .l-grid-7, .l-grid-8, .l-grid-9, .l-grid-10, .l-grid-11, .l-grid-12 {
    margin: 0;
    clear: none;
    float: left; }

  .l-grid-1 {
    width: 8.3333333333%; }

  .l-grid-2 {
    width: 16.6666666667%; }

  .l-grid-3 {
    width: 25%; }

  .l-grid-4 {
    width: 33.3333333333%; }

  .l-grid-5 {
    width: 41.6666666667%; }

  .l-grid-6 {
    width: 50%; }

  .l-grid-7 {
    width: 58.3333333333%; }

  .l-grid-8 {
    width: 66.6666666667%; }

  .l-grid-9 {
    width: 75%; }

  .l-grid-10 {
    width: 83.3333333333%; }

  .l-grid-11 {
    width: 91.6666666667%; }

  .l-grid-12 {
    width: 100%; }

  .l-offset-0 {
    margin-left: 0; }

  .l-offset-1 {
    margin-left: 8.3333333333%; }

  .l-offset-2 {
    margin-left: 16.6666666667%; }

  .l-offset-3 {
    margin-left: 25%; }

  .l-offset-4 {
    margin-left: 33.3333333333%; }

  .l-offset-5 {
    margin-left: 41.6666666667%; }

  .l-offset-6 {
    margin-left: 50%; }

  .l-offset-7 {
    margin-left: 58.3333333333%; }

  .l-offset-8 {
    margin-left: 66.6666666667%; }

  .l-offset-9 {
    margin-left: 75%; }

  .l-offset-10 {
    margin-left: 83.3333333333%; }

  .l-offset-11 {
    margin-left: 91.6666666667%; }

  .l-offset-12 {
    margin-left: 100%; }

  .l-pad-1 {
    padding: 4px; }

  .l-pad-1-left {
    padding-left: 4px; }

  .l-pad-1-right {
    padding-right: 4px; }

  .l-pad-1-top {
    padding-top: 4px; }

  .l-pad-1-bottom {
    padding-bottom: 4px; }

  .l-pad-1-sides {
    padding-left: 4px;
    padding-right: 4px; }

  .l-pad-1-vert {
    padding-top: 4px;
    padding-bottom: 4px; }

  .l-marg-1 {
    margin: 4px; }

  .l-marg-1-left {
    margin-left: 4px; }

  .l-marg-1-right {
    margin-right: 4px; }

  .l-marg-1-top {
    margin-top: 4px; }

  .l-marg-1-bottom {
    margin-bottom: 4px; }

  .l-marg-1-sides {
    margin-left: 4px;
    margin-right: 4px; }

  .l-marg-1-vert {
    margin-top: 4px;
    margin-bottom: 4px; }

  .l-pad-2 {
    padding: 8px; }

  .l-pad-2-left {
    padding-left: 8px; }

  .l-pad-2-right {
    padding-right: 8px; }

  .l-pad-2-top {
    padding-top: 8px; }

  .l-pad-2-bottom {
    padding-bottom: 8px; }

  .l-pad-2-sides {
    padding-left: 8px;
    padding-right: 8px; }

  .l-pad-2-vert {
    padding-top: 8px;
    padding-bottom: 8px; }

  .l-marg-2 {
    margin: 8px; }

  .l-marg-2-left {
    margin-left: 8px; }

  .l-marg-2-right {
    margin-right: 8px; }

  .l-marg-2-top {
    margin-top: 8px; }

  .l-marg-2-bottom {
    margin-bottom: 8px; }

  .l-marg-2-sides {
    margin-left: 8px;
    margin-right: 8px; }

  .l-marg-2-vert {
    margin-top: 8px;
    margin-bottom: 8px; }

  .l-pad-3 {
    padding: 16px; }

  .l-pad-3-left {
    padding-left: 16px; }

  .l-pad-3-right {
    padding-right: 16px; }

  .l-pad-3-top {
    padding-top: 16px; }

  .l-pad-3-bottom {
    padding-bottom: 16px; }

  .l-pad-3-sides {
    padding-left: 16px;
    padding-right: 16px; }

  .l-pad-3-vert {
    padding-top: 16px;
    padding-bottom: 16px; }

  .l-marg-3 {
    margin: 16px; }

  .l-marg-3-left {
    margin-left: 16px; }

  .l-marg-3-right {
    margin-right: 16px; }

  .l-marg-3-top {
    margin-top: 16px; }

  .l-marg-3-bottom {
    margin-bottom: 16px; }

  .l-marg-3-sides {
    margin-left: 16px;
    margin-right: 16px; }

  .l-marg-3-vert {
    margin-top: 16px;
    margin-bottom: 16px; }

  .l-pad-0 {
    padding: 0; }

  .l-pad-0-left {
    padding-left: 0; }

  .l-pad-0-right {
    padding-right: 0; }

  .l-pad-0-top {
    padding-top: 0; }

  .l-pad-0-bottom {
    padding-bottom: 0; }

  .l-pad-0-sides {
    padding-left: 0;
    padding-right: 0; }

  .l-pad-0-vert {
    padding-top: 0;
    padding-bottom: 0; }

  .l-marg-0 {
    margin: 0; }

  .l-marg-0-left {
    margin-left: 0; }

  .l-marg-0-right {
    margin-right: 0; }

  .l-marg-0-top {
    margin-top: 0; }

  .l-marg-0-bottom {
    margin-bottom: 0; }

  .l-marg-0-sides {
    margin-left: 0;
    margin-right: 0; }

  .l-marg-0-vert {
    margin-top: 0;
    margin-bottom: 0; } }
.pad-half {
  padding: 4px; }

.pad-half-left {
  padding-left: 4px; }

.pad-half-right {
  padding-right: 4px; }

.pad-half-top {
  padding-top: 4px; }

.pad-half-bottom {
  padding-bottom: 4px; }

.pad-half-sides {
  padding-left: 4px;
  padding-right: 4px; }

.pad-half-vert {
  padding-top: 4px;
  padding-bottom: 4px; }

.marg-half {
  margin: 4px; }

.marg-half-left {
  margin-left: 4px; }

.marg-half-right {
  margin-right: 4px; }

.marg-half-top {
  margin-top: 4px; }

.marg-half-bottom {
  margin-bottom: 4px; }

.marg-half-sides {
  margin-left: 4px;
  margin-right: 4px; }

.marg-half-vert {
  margin-top: 4px;
  margin-bottom: 4px; }

.grid-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -moz-box-wrap: wrap;
  -webkit-box-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flexbox-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

a, p {
  padding: 0;
  margin: 0;
  font-family: "Muli", sans-serif;
  color: #666666; }

.horiz-center {
  left: 50%;
  transform: translateX(-50%); }

.vert-center {
  top: 50%;
  transform: translateY(-50%); }

.absolute-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.header-fontstyle {
  font-family: "Muli", sans-serif;
  letter-spacing: 0.8px;
  text-transform: uppercase; }

#navigation {
  position: relative;
  padding: 30px; }
  #navigation img, #navigation nav {
    position: absolute; }
  #navigation nav {
    right: 30px; }
    #navigation nav a {
      font-size: 12px;
      font-weight: 600;
      line-height: 40px;
      text-decoration: none;
      padding: 0 15px; }
    #navigation nav a + a {
      border-left: 1px solid #666666; }
    #navigation nav a:hover {
      color: #683D40;
      font-weight: 900; }

#thumblogo {
  height: 40px;
  padding-left: 30px; }

#home-header {
  text-align: center;
  margin-bottom: 25px; }
  #home-header p {
    font-size: 10px;
    color: #683D40; }

main.container {
  width: 85%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: auto; }

#mainlogo {
  max-width: 350px;
  width: 90%;
  display: inline-block;
  padding: 35px; }

.divider {
  width: 70px;
  height: 4px;
  display: inline-block;
  background-color: #683D40;
  margin: 20px 0; }

#works {
  position: relative;
  overflow: overlay; }

.workbox {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden; }
  .workbox img {
    position: absolute; }

#goodmarket {
  background-color: #f0f0f0; }
  #goodmarket img {
    height: 70%;
    width: auto; }

#spetcial img {
  height: 100%;
  width: auto;
  top: 0; }

#swdb {
  background-color: #f1e5e3; }
  #swdb img {
    height: 95%;
    width: auto; }

#adeste-fideles {
  background-color: #d2c5c6; }
  #adeste-fideles img {
    top: 0;
    width: 100%; }

#healthandlove {
  background-color: #f1e5e3; }
  #healthandlove img {
    width: 75%; }

#friends-nyonyum {
  background-color: #f0f0f0; }
  #friends-nyonyum img {
    bottom: -50%;
    right: -5%;
    height: 230%;
    width: auto; }

#thetatau-lego {
  background-color: #d2c5c6; }
  #thetatau-lego img {
    height: 100%;
    width: auto; }

.workbox:before {
  content: "";
  display: block; }

.square:before {
  padding-top: 100%; }

.rectangle:before {
  padding-top: 50%; }

.square-adjusted:before {
  padding-top: -webkit-calc(100% - 8px);
  padding-top: -moz-calc(100% - 8px);
  padding-top: calc(100% - 8px); }

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background: url("images/banana_leaves.jpg") repeat;
  opacity: 0;
  transition: opacity 0.5s; }

.overlay-text-container {
  width: 200px;
  max-width: 70%;
  max-height: 70%;
  padding: 20px;
  background-color: #683D40;
  text-align: center;
  position: relative; }
  .overlay-text-container p {
    color: white; }
  .overlay-text-container .overlay-title {
    font-weight: bold; }
  .overlay-text-container .overlay-subtitle {
    font-size: 13px; }
  .overlay-text-container .overlay-category {
    padding-top: 15px;
    font-weight: 300;
    font-size: 13px; }

.overlay-text-container:after {
  content: '';
  border: 2px solid #683D40;
  margin: 0 auto;
  position: absolute;
  top: -7px;
  left: -7px;
  right: -7px;
  bottom: -7px; }

.workbox:hover .overlay {
  opacity: 1;
  cursor: pointer; }

#footer {
  position: relative;
  text-align: center;
  padding: 70px 0px; }

.btn {
  padding: 10px 0;
  border: 1px solid #666666;
  display: inline-block;
  width: 125px; }
  .btn p {
    font-size: 10px;
    vertical-align: top; }
  .btn span {
    font-size: 14px;
    margin-right: 5px; }

.btn:hover {
  background-color: #683D40;
  cursor: pointer; }
  .btn:hover p, .btn:hover span {
    color: white; }

#social-media {
  display: block;
  margin: 15px auto; }

.social-media-icon {
  margin: 0 5px;
  height: 30px;
  width: 30px;
  background-size: contain;
  display: inline-block;
  line-height: 30px; }

.social-media-icon:hover {
  pointer: cursor; }

#linkedin {
  background: url("images/linkedin.svg"); }

#linkedin:hover {
  background: url("images/linkedin_filled.svg");
  color: #683D40; }

#behance {
  background: url("images/behance.svg"); }

#behance:hover {
  background: url("images/behance_filled.svg"); }

#github {
  background: url("images/github.svg"); }

#github:hover {
  background: url("images/github_filled.svg"); }

#copyright {
  font-size: 10px;
  font-weight: 200;
  letter-spacing: 0.5px; }

/*# sourceMappingURL=main.css.map */
