---
layout: base
project_name_pretty:
  "healthandlove" : "Health &amp; Love"
  "spetcial" : "Spetcial"
  "goodmarket" : "Good Market"
  "swdb" : "Statewide Database"
  "adestefideles" : "Adeste Fideles"
  "nyonyum" : "Friends Interational"
  "thetatau" : "Theta Tau"
---
<div id="works-container">
	<div id="works-header">
		<p class="title-fontstyle">{{ layout.project_name_pretty[page.slug] }}</p>
		<p id="work-description">{{ page.description }}</p>
		<div class="divider"></div>
		<!--<img src={{ site.imagesurl | append: page.slug | append: "/" | append: page.logo_filename | relative_url }}>-->

	</div>

	<div id="works-overview" class="grid-12">
		<img src={{ "assets/images/binderclip.png" | relative_url }} class="binderclip" id="binderclip-left">
		<img src={{ "assets/images/binderclip.png" | relative_url }} class="binderclip" id="binderclip-right">
		<div class="grid-6 s-grid-12 pad-2 s-pad-1">
			<div class="overview-item">
				<span class="lnr lnr-coffee-cup lnr-big"></span>
				<div>
					<h4 class="header-fontstyle">Brief</h4>
					<p>{{ page.brief }}</p>
					{% if page.brief_links %}
						<ul id="brief-links">
							{% for lnk in page.brief_links %}
								<li><span class="lnr lnr-link"></span><a href={{ lnk[1] }} class="link-fontstyle">{{ lnk[0] }}</a></li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
			</div>
			<div class="overview-item">
				<span class="lnr lnr-mustache lnr-big"></span>
				<div>
					<h4 class="header-fontstyle">My Role &amp; Time Spent</h4>
					<p>{{ page.my_role }}</p>
					<p id="time-spent"><span class="lnr lnr-hourglass"></span>{{ page.time_spent }}</p>
				</div>
			</div>
		</div>
		<div class="overview-col grid-6 s-grid-12 pad-2 s-pad-1">
			<div class="overview-item">
				<span class="lnr lnr-construction lnr-big"></span>
				<div>
					<h4 class="header-fontstyle">Objectives &amp; Challenges</h4>
					<ul>
					{% for obj in page.objectives %}
					    <li>{{ obj }}</li>
					{% endfor %}
					</ul>
				</div>
			</div>
			<div class="overview-item">
				<span class="lnr lnr-magic-wand lnr-big"></span>
				<div>
					<h4 class="header-fontstyle">Methods / Tools</h4>
					<ul>
					{% for t in page.tools %}
					    <li>{{ t }}</li>
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="grid-12 s-pad-0 pad-3">
		{{ content }}
	</div>

	<div id="more-works" class="grid-12">
		<h3 class="header-fontstyle">More Works</h3>
		<div class="divider"></div>
		<div id="more-works-container" class="grid-12">
			{% for work in page.related_works %}
				<div class="grid-4 pad-2 s-grid-12 s-pad-0-sides">
					<a href={{ "portfolio/" | append: work | relative_url }}>
						<div class="workbox square">
							<div class="bg-img" id="{{ work }}">
								<div class="overlay">
									<div class="overlay-text-container absolute-center">
										<p class="overlay-title header-fontstyle">{{ layout.project_name_pretty[work] }}</p>
										<div class="divider growing-divider"></div>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
</div>